<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body ng-app="AppliedSystems">
<header>
    <div class="header-main">
        <a href="@Url.Action("Index", "Home")">
            <img src="~/Content/Images/as_logo_small.png" alt="Applied Systems Technical Challenge" role="presentation">
        </a>
        <h1>
            Applied Systems Technical Challenge
        </h1>
    </div>
    <nav>
        <ul>
            @if (User.Identity.IsAuthenticated)
            {
                <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                <li>@Html.ActionLink("Apply", "Apply", "Policy")</li>
            }
            else
            {
                <li>@Html.ActionLink("Login", "Login", "Account")</li>
            }
        </ul>
    </nav>
</header>
<div class="container body-content">
    @RenderBody()
</div>
<footer>

</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/scripts/angular")
@Scripts.Render("~/bundles/scripts/angular/modules")
@Scripts.Render("~/bundles/scripts/angular/controllers")
@Scripts.Render("~/bundles/scripts/angular/components")
@RenderSection("scripts", required: false)
</body>
</html>
